:root {
  --bg-blue: #1bb6dd;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.ttf');
}

@font-face {
  font-family: 'Playfair';
  src: url('../fonts/playfair.ttf');
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

#root {
  position: relative;
  min-height: 100vh;
  background-color: white;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  margin: 0 auto;
  background-color: white;
}

header {
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  background: linear-gradient(170deg, var(--bg-blue) 70%, white 25%);
  margin-bottom: 40px;
}

.imgContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  max-height: 100vh;
}

.imgContainer img {
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}

.imgContainer p {
  position: absolute;
  bottom: 0;
  color: white;
  font-family: 'Playfair';
  font-size: 5vw;
}

.aboutMe {
  width: 60%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  border-radius: 0 8px 8px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutMe p {
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Roboto';
}

h2 {
  font-family: 'Playfair';
  font-weight: 400;
  font-size: 1.8rem;
}

.headerLinks {
  display: flex;
  justify-content: end;
  gap: 15px;
}

.headerLinks img {
  width: 28px;
}

@media (min-width: 2000px) {
  .imgContainer p {
    font-size: 7rem;
  }
}